.navstyle{
  display: none;
}
.maindiv{
    .section1{
      .cust_style{
        display: block;
      }
      .sub0{
        font-family: 'Cardo', serif;
        .display{
           background-color: white;
           border: 1px solid white;
           display: block;
           padding: 10px;
           opacity: 0.9;
           .navbar-brand {
    float: left;
    height: 63px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    margin-left: 56px;
}
          .subnav{
            float: right;
            margin-right: 43px;
            margin-top: 12px;
            font-size: 16px;
        .liststyle1{
          list-style: none;
          margin-left: 37px;

        }
        .liststyle{
          margin-left: 37px;
        }
        .astyle{
           &:hover{
            text-decoration: none;
            color: #D1A235;
          }
        }
      }
        }
      }
           .sub1
            {
                 .parallax {
                             /* The image used */
                            background-image: url("../img/Under_Construction_1600.jpg");
                            /* Set a specific height */
                            min-height: 700px;
                           /* Create the parallax scrolling effect */
                            background-attachment: fixed;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            position: relative;
                            opacity: 0.8;
                            .scroll
                            {
                              font-family: 'Cardo', serif;
                              color: white;
                              position: absolute;
                              top: 214px;
                              left: 259px;
                              font-size: 100px;

                            }
                        }
                 .section1div2{
                               background-color:white;
                    }
                .div2h2{
                    width: 50%;
                    margin: 75px auto;
                    color: #D1A235; 
                    font-family:'Cardo', serif;
                    font-weight: 700;
                    font-size: 40px;
                    font-style: normal;
                    margin-top: 55px;
                    @media(max-width: 991px)
                    {
                     width:100%
                    }
                }
                .div2p1{
                       width: 50%;
                        margin: 0 auto;
                       font-family: 'Cardo', serif;
                       font-size: 21px;
                       @media(max-width: 991px)
                    {
                     width:100%
                    }
                }
        }
        .sub2
           {
                .div2p2{
                        margin-top: 27px;
                        font-size: 21px;
                        font-family: 'Cardo', serif;
                }
        }
        .sub3
           {
                  margin-top: 17px;
                  padding-bottom: 50px;
                  .div3{
                    font-family: 'Cardo', serif;
                  }
                  .div4{
                    font-family: 'Cardo', serif;
                  }
           }
    }
    .section2
    {
      .subsectn1
      {
         .parallax1{
         /* The image used */
                            background-image: url("../img/Fotoapparat_1600.jpg");
                            /* Set a specific height */
                            min-height: 500px;
                           /* Create the parallax scrolling effect */
                            background-attachment: fixed;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
         }
         .sectn2div2
         {
          background-color:white;
           .h2style{
                     width: 100%;
                     text-align: center;
                      margin: 51px auto;
                    color: #D1A235; 
                    font-family: 'Cardo', serif;
                    font-weight: 700;
                    font-size: 40px;
                    font-style: normal;
                    margin-top: 55px;
           }
         }
      }
      .subsectn2
      { 
              .h1style{
                color: #ffffff;
                font-family: 'Cardo', serif;
              }
        .subsectn2sub1{
                        .flexmain{
                               display:-webkit-flex;
                               display:flex;
                               justify-content:space-around;
       
                                        .flex1{
                                            display: -webkit-flex;
                                            display: flex;
                                            flex-wrap: wrap;
                                            height: auto;
                   
                                               .bronzebackground{
                                               background-image: url("../img/Paket-Farbe_Bronze.jpg");
                                               width:100%;

                                                .img1flex{
                                                      display: flex;
                                                      justify-content: center;
                                                      margin-top: 59px;
                                                      padding-bottom: 26px;
                                                .imgicon1{
                                                     height: 150px;
                                                     width: 150px;
                                                       }
                                                    }
                                               }
                                             }
       
                                        .flex2{
                                        display: -webkit-flex;
                                        display: flex;
                                        justify-content: center;
                                        height: auto;
                                          .silverbackground{
                                          background-image: url("../img/Paket-Farbe_Silber.jpg");
                                                     width:100%;
                                                  }
                                          .img2flex{
                                              display: flex;
                                              justify-content: center;
                                              margin-top: 59px;
                                              padding-bottom: 26px;

                                           .imgicon2{
                                               height: 150px;
                                               width: 150px;

                                      }
                                    }
                                  }
                                 .flex3{
                                  display: -webkit-flex;
                                  display: flex;
                                  flex-wrap: wrap;
                                  height: auto;
                                  .goldbackground{
                                             background-image: url("../img/Paket-Farbe_Gold.jpg");
                                             width:100%;
                                             .img3flex{
                                            display: flex;
                                            justify-content: center;
                                            margin-top: 59px;
                                                padding-bottom: 26px;
                                           .imgicon3{
                                               height: 150px;
                                               width: 150px;
                                              }
                                            }
                                          }

                                     }
                                 }
                              }
            .subsectn2sub2{
                  padding-top: 85px;
                        .sub2flex{
                          display: -webkit-flex;
                          display: flex;
                          justify-content: space-around;
                            }
                            .zeffect{
                              perspective:900px;
                            }
                        .sub2flex1{
                                    display: -webkit-flex;
                                    display: flex;
                                  .pos{
                                    position: relative;
                                    &:hover{
                                    -webkit-transform:rotateX(-5deg);
                                    transform:rotateX(-5deg);
                                    -webkit-transition:all 900ms cubic-bezier(0.22,0.61,0.36,1);
                                    }
                                  }
                                  .pos1{
                                    position: absolute;
                                    border: 1px solid  #d1a235;
                                    height:45px;
                                    width: 64px;
                                    border-radius: 90px 90px 0 0;
                                    -moz-border-radius: 90px 90px 0 0;
                                    -webkit-border-radius: 90px 90px 0 0;
                                    left: 128px;
                                    top: -30px;
                                    background-color: #d1a235;

                                  }
                                  .pos2{
                                          position: relative;
                                          border: 1px solid  #d1a235;
                                          padding-left: 100px;
                                          padding-right: 100px;

                                          background-color: #d1a235;
                                          .h3fstyle{
                                            padding-top: 29px;
                                            font-family: 'Cardo', serif;
                                          }
                                          .h4fstyle{
                                            padding-top: 10px;
                                            font-family: 'Cardo', serif;
                                          }
                                          .pfstyle{
                                            color: white;
                                            padding-top: 10px;
                                            font-family: 'Cardo', serif;
                                          }
                                          .pfstyle1{
                                            color: white;
                                            font-family: 'Cardo', serif;
                                            padding-top: 20px;
                                          }
                                    .fapos{
                                      position: absolute;
                                      left: 143px;
                                      font-size: 39px;
                                      top: -22px;
                                      color: white;
                                    }

                                  }
                                  .subpos2{
                                            border: 1px solid  #d1a235;
                                            background-color: white;
                                            display: -webkit-flex;
                                            display: flex;
                                            flex-direction: column;
                                            font-family: 'Cardo', serif;
                                    }
                                  }
                         
                            }
                     }
    }
    .section3
    { 
      .sectn3sub{
          padding-top: 69px;
         .parallax2{
                     /* The image used */
                    background-image: url("../img/Papeterie_1600.jpg");
                    /* Set a specific height */
                     min-height: 500px;
                    /* Create the parallax scrolling effect */
                     background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                      .h2_style{
                        color: white;
                        padding-top: 83px;
                        font-family: 'Cardo', serif;
                        }
                        .p_style{
                          color: white;
                          padding-top: 52px;
                          font-family: 'Cardo', serif;
                        }
                        .p_style1{
                          color: white;
                          font-family: 'Cardo', serif;
                        }
                        .button{
                            color: white;
                            font-family: 'Cardo', serif;
                            background-color: #D1A235;
                            position: absolute;
                            top: 403px;
                            left: 647px;
                            &:hover{
                              background-color: black;
                            }
                        }
                      }
                     .section3div2{
                      padding-top: 7px;
                      .h2_color{
                        color: #D1A235;
                        font-family: 'Cardo', serif;
                      }
                     } 
                      
         } 
         .sectn3sub1{
                  .rowimages{
                    
                  .images{
                    padding: 0;
                    margin: 0;
                    
                    .img1{
                      float: left;
                      width: 20%;
                      height: auto;
                      position: relative;
                      -webkit-transition:0.2s ease-in;
                      transition:0.2s ease-in;
                  &:hover{
                        .hovertext{
                          font-family: 'Cardo', serif;
                              position: absolute;
                              background-color:#D1A235;
                              opacity: 0.8;
                              width: 100%;
                              height: 100%;
                              top: 0px;
                      }
                      .hoverp{
                        font-family: 'Cardo', serif;
                        display: block;
                        position: absolute;
                        top: 114px;
                        margin: 0 50px;
                        color: white;
                        font-size: 20px;
                      }
                      .hoverp1{
                        font-family: 'Cardo', serif;
                        display: block;
                        position: absolute;
                            top: 173px;
                           left: 105px;
                           color: white;
                      }
                      .imgwidth{
                         -webkit-transform:scale(1.0);
                      }
                      }
                     .imgwidth{
                            width: 100%;
                            -webkit-transition:0.2s ease-in;
                      transition:0.2s ease-in;
                      }
                      .hoverp{
                        display: none;
                      }
                      .hoverp1{
                        display: none;
                      }
                      
                     }
                    }

                  }
                }
         }
         .section4{
          .sectn4sub1{
                .h4name{
                  font-family: 'Cardo', serif;
                font-size: 20px;
                }
                .ppost{
                  font-family: 'Cardo', serif;
                font-size: 12px;
                }
               }
          .sectn4sub{

          .parallax3{
                           /* The image used */
                            background-image: url("../img/Ringe_1600.jpg");
                            /* Set a specific height */
                            min-height: 500px;
                           /* Create the parallax scrolling effect */
                            background-attachment: fixed;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
         }
         .sectn4div2{
          padding-top: 53px;
               .h2_stylee{
                color: #D1A235 !important;
                font-family: 'Cardo', serif;
                font-size: 50px;
               }
               .pteamstyle{
                font-family: 'Cardo', serif;
                font-size: 20px;
                margin-top: 10px;
                margin-bottom: 33px;
               }
               }
       }
       
       }
       .section5{
        .sectn5sub{
        
                   .parallax4{        
                            background-image: url("../img/Kontakt_1600.jpg");
                            min-height:1000px;
                             background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
        
         .heading{
          color: white;
          font-family: 'Cardo', serif;
              margin-top: 59px;
          .subdiv{
          width: 50%;
          margin-left: 369px;
          margin-top: 36px;
    font-size: 17px;
         }
         }
         .address{
          font-family: 'Cardo', serif;
          float: left;
          background-color: rgba(255,255,255,0.1);
          width: 510px;
          height: 202px;
          margin-left: 66px;
          color: white;
              margin-top: 61px;
          .h3_st{
            font-family: 'Cardo', serif;
            margin-left: 35px;
            font-size: 17px;
          }
          .details{
            font-family: 'Cardo', serif;
            font-size: 10px;
            .ul_style{
              list-style: none;
              .li_style1{
                display:flex;
                margin-bottom: 20px;
                .fa_size{
                  color: #D1A235;

                }
                .pp{
                  font-family: 'Cardo', serif;
                  margin-left: 6px;
                }
              }
              .li_style{
                display:flex;
                font-family: 'Cardo', serif;
                .fa_size{
                  color: #D1A235;

                }
                .pp{
                  font-family: 'Cardo', serif;
                  margin-left: 6px;
                }
              }
            }
          }
         }
         .contact{
          color: white;
          width: 568px;
          height: 661px;
          float: right;
          margin-right: 86px;
          font-family: 'Cardo', serif;
              margin-top: 61px;
          background-color: rgba(255,255,255,0.1);
          .contact_sub{
            margin-left: 39px;
            .h3_style{
              font-size: 17px;
              font-family: 'Cardo', serif;
            }
          .pform{
            margin-bottom: 0;
            font-family: 'Cardo', serif;
            margin-top: 34px;
          }
          
          .textbox{
            background-color: rgba(0, 0, 0, 0.50);
            border: 1px solid transparent;
            font-family: 'Cardo', serif;
            width: 89%
          }
          .button1{
            font-family: 'Cardo', serif;
            color: white;
            background-color:#D1A235;
            border: 1px solid transparent;
            margin-top: 34px;
          }
        }
        
}
         }
       }
       .section5div2{
        font-family: 'Cardo', serif;
        padding: 24px;
        background-color: black;
        width: 100%;
        color: white;
        position: relative;
        .contpos{
          position:relative;
        }
        .div2pos{
          position:relative;
         
       }
       .apos{
        position: absolute;
            left: 673px;
          bottom: 55px;
         background-color: black;
         width: 38px;
          height: 38px;
    .fa_double{
      font-size: 40px;
    padding-left: 4px;
    color: white;
    }
       }
       }
     
        }
    }
